ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: hsl(197, 52%, 48%);
    padding: 25px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}